<div class="container"><br>
    <input  type="text"
            class="form-control"
            placeholder="Search report here" 
            style="width:480px;max-width:480px;display:inline-block"
            [(ngModel)]="search"
            (input)="searchData()"
    /> 


    <br><br>
    <table class="table">
        <thead>
            <tr>
                <!--<th>Group Id</th>-->
                <th>Group Name</th>
                <!--<th>Dataset Id</th>-->
                <th>Dataset Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let report of flattenedGroup">
                <!-- <td>{{report.groupId}}</td> -->
                <td>{{report.groupName}}</td>
                <!-- <td>{{report.datasetId}}</td> -->
                <td>{{report.datasetName}}</td>
                <td>
                    <button class="btn btn-primary" (click)="refreshDataset(report.groupId,report.datasetId)">Refresh</button> &nbsp;&nbsp;
                    <!--<button class="btn btn-danger" (click)="deleteDataset(report.groupId,report.datasetId)">Delete</button>-->
                    <button class="btn btn-danger" (click)="showDialog(report.groupId,report.datasetId)">Delete</button>&nbsp;&nbsp;
                </td>
                <!-- <td>
                    <div *ngIf="success; else elseBlock">Refresh invoked successfully.</div>
                    <ng-template #elseBlock></ng-template>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner> 
<app-confirm-dialog></app-confirm-dialog>