<!-- <div class="container">
    <input type="text" class="form-control w-25" style="width:280px;max-width:280px;display:inline-block">
    <button class="btn btn-primary" style="margin-left:8px;margin-top:-5px;min-height:36px;">Go</button>
    <table class="table">
        <thead>
            <tr>
                <th>DSName</th>
                <th>GRName</th>
                <th colspan="2">Actions</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let report of reports">
                <td>{{report.dsName}}</td>
                <td>{{report.grName}}</td>
                <td>
                    <button class="btn btn-primary">Refresh</button>
                </td>
                <td>
                    <button class="btn btn-danger">Delete</button>
                </td>

            </tr>
        </tbody>
    </table>
</div> -->
